
body {
    margin: 0;
    padding: 0;
}
.background {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    height: auto;
    padding: 0;
   
    
}

.background img {
    margin: 0;
    padding:  0;
    width: 100%;
    height: auto;
    max-height: 100vh;
    
    
}

.play {
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 40%;

}


.play button {
    padding: 20px;
    background: red;
    cursor: pointer;
    border-radius: 10%;
    border: none;

}

.play a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
h1 {
    margin: 0;
    padding: 0;
}


button img {
    margin: 0;
    padding:  0;
    width: 100%;
    height: auto;
    
    
}

.background a {
    max-width: 15%;
    height: auto;
}
#chicken {
    position: absolute;
    bottom: 10%;
    left: 10%; 
    cursor: pointer;
    transition: 1s;
}

#cow {
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
    transition: 1s;
}

#horse {
    position: absolute;
    bottom: 10%;
    right: 40%;
    cursor: pointer;
    transition: 1s;
    
}

.horse {
    transform: rotate(20deg) translate(-30px, -20px)  ;
    
     transition: 1s; 
}

.chicken {
    transform: rotate(20deg) translate(40px, -20px)  ;
    
     transition: 1s; 
}

.cow {
    transform: rotate(20deg) translate(-40px, -20px)  ;
    
     transition: 1s; 
}


